:root {
    --black-color: black;
    --white-color: whitesmoke;
    --gray-color: #aca3a3;
    --red-color: #fc2f2f;
    --blue-color: #389cf9;
    --yellow-color: gold;
    --navy-color: #263343;
    --orange-color: #d49466;
}

/* ###메인화면 css### */

body {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    border-bottom: 1px solid var(--black-color) !important;
}

a {
    text-decoration: none;
    color:var(--black-color);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white-color);
    
    padding: 6px 20px;
}

.navbar_logo {
    font-size: 30px;
}

.navbar_logo i {
    font-size: 30px;
    color: var(--orange-color);
}
      
.navbar_menu {
    display: flex;
    list-style: none;
    font-size: 16px;
    padding-left: 0;
}

.navbar_menu li {
    padding: 6px 10px;
}

.navbar_menu li:hover {
    background-color: var(--gray-color);
    border-radius: 4px;
}

.fa-filter-circle-xmark {
    padding-right: 5px;
    color: var(--navy-color);
}

.fa-arrow-up {
    padding-right: 5px;
    color: var(--red-color);
}

.fa-arrow-down {
    padding-right: 5px;
    color: var(--blue-color);
}

.fa-bookmark {
    padding-right: 5px;
    color: var(--yellow-color);
}

.navbar_login {
    display: flex;
    list-style: none;
    font-size: 16px;
    padding-left: 0;
}

.navbar_login i {
    font-size: 20px;
    color: var(--orange-color);
}

.navbar_login li {
    padding: 6px 10px;
}

.navbar_login li:hover {
    background-color: var(--gray-color);
    border-radius: 4px;
}

.toggleBtn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 20px;
    color:var(--orange-color)
}


/* 확대, 축소 버튼 */
.custom_zoomcontrol_btn {
    position:absolute;
    top:100px;
    right:20px;
    width:46px;
    height:100px;
    overflow:hidden;
    z-index: 1;
    background-color: var(--white-color);
    border: 1px solid var(--gray-color);
    border-radius: 4px;
} 

.custom_zoomcontrol_btn span {
    display:block;
    width:46px;
    height:50px;
    text-align:center;
    cursor:pointer;
}

.custom_zoomcontrol_btn span i {
    font-size: 22px;
    width:25px;
    height:25px;
    padding:12px 0;
}             

.custom_zoomcontrol_btn span:first-child {
    border-bottom:1px solid var(--gray-color);
}  

/* 화면 크기 줄였을 때 */
@media(max-width:770px){
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 6px 10px;
    }

    .navbar_menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar_menu li {
        width: 100%;
        text-align: center;
    }
    
    .navbar_login {
        display: none;
        justify-content: center;
        width: 100%;
    }

    .navbar_login li {
        width: 100%;
        text-align: center;
    }

    .toggleBtn {
        display: block;
    }

    .navbar_menu.active,
    .navbar_login.active {
        display: flex;
    }
}

/* ###검색창 css### */
.input-wrap {
    position: absolute;
    display: inline-flex;
    border: 3px solid #6A24FE;
    border-radius: 3px;
    height: 2em;
    width: 320px;    
    top: 11%;
    left: 1%;
    z-index: 2;
}

/* input 창 */
input[type=text] {
    padding: 0 10px;
    background-color: #fff;
    width: 100%;
    border: none;
    /* input 테두리 없애기 */
    outline: none;
}

/* X 버튼 */
.input-wrap .btn-clear {
    border: none;
    cursor: pointer;
    font-size: 15px;
    background: rgb(255,255,255);
    visibility: hidden;    
}

/* 검색 버튼 */
.input-wrap .btn-search {
    background-color: #6A24FE;
    color: var(--white-color);
    font-weight: bold;
    border: none;
    border-left: 3px solid #6A24FE;
    cursor: pointer;
}

/* 검색 결과 목록 */
#addressList {
    position: absolute;
    width: 295px;
    margin: 0;
    top: 15.1%;
    left: 1%;
    padding-left: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid gray;
    border-radius: 5px;
    overflow-y: auto;
    max-height: 400px;
    line-height: 2em;
    box-sizing: border-box;
    visibility: hidden;
    z-index: 2;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.info-container {
    display: none;
}

.aptInfo-wrap {
    position: absolute;
    background-color: #fff;
    top:145px;
    left: 77%;
    width:100;
    height:700px;
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    z-index: 1;
}

#aptInfo-items {
    background: right / cover url("https://ic.zigbang.com/vp/BigData/33323/044b64b3d595af5896516858fa3f9c02692789e5.jpg?w=750&q=80&a=1");
    display: flex;
    align-items: end;
    width: 400px;
    height: 250px;
}

/* 매매 정보*/
.salesInfo {
    display: flex;
    justify-content: space-between;
    text-align: center;
    border-bottom: 1px solid grey;
}

.salesInfo > div {
    padding-right: 5px;
    border-right: 1px solid grey;
}

#salesDate {
    width:115px;
}

#salesPrice {
    padding-right: 10px;
    width: 100px;
}

#salesArea {
    
    width: 70px;
}

#salesFloor {
    padding-right: 15px;
}

/* 매매 목록 */
#salesList > li {
    display: flex;
    padding-right: 10px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.date {
    width: 120px;
}

.price {
    padding-right: 15px;
    width: 100px;
}

.area {
    margin-right: 15px;
    padding-left: 5px;
    padding-bottom: 5px;
}