:root {
    --black-color: black;
    --white-color: whitesmoke;
    --gray-color: #aca3a3;
    --red-color: #fc2f2f;
    --blue-color: #389cf9;
    --yellow-color: gold;
    --navy-color: #263343;
    --orange-color: #d49466;
}

.gothic-a1-regular {
    font-family: "Gothic A1", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

/* ###메인화면 css### */
body {
    font-family: "Gothic A1", sans-serif;
    font-weight: bold;
    margin: 0;
    border-bottom: 1px solid var(--black-color) !important;
}

a {
    text-decoration: none;
    color:var(--black-color);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white-color);
    padding: 6px 20px;
    
}

.navbar_logo {
    font-size: 30px;
}

.mainLogo {
    height: 37px;
    width: 40px;
}
      
.navbar_menu {
    display: flex;
    list-style: none;
    font-size: 16px;
    padding-left: 0;
}

.navbar_menu li {
    padding: 6px 10px;
}

.navbar_menu li:hover {
    background-color: var(--gray-color);
    border-radius: 4px;
}

.fa-filter-circle-xmark {
    padding-right: 5px;
    color: var(--navy-color);
}

.fa-arrow-up {
    padding-right: 5px;
    color: var(--red-color);
}

.fa-arrow-down {
    padding-right: 5px;
    color: var(--blue-color);
}

.fa-bookmark {
    padding-right: 5px;
    color: var(--yellow-color);
}

.navbar_login {
    display: flex;
    list-style: none;
    font-size: 16px;
    padding-left: 0;
}

.navbar_login i {
    font-size: 20px;
    color: var(--orange-color);
}

.navbar_login li {
    padding: 6px 10px;
}

.navbar_login li:hover {
    background-color: var(--gray-color);
    border-radius: 4px;
}

.toggleBtn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 20px;
    color:var(--orange-color)
}


/* 확대, 축소 버튼 */
.custom_zoomcontrol_btn {
    position:absolute;
    top: 95px;
    left: 350px;
    width:31px;
    height:68px;
    overflow:hidden;
    z-index: 1;
    background-color: var(--white-color);
    border: 1px solid var(--gray-color);
    border-radius: 4px;
} 

.custom_zoomcontrol_btn span {
    display: block;
    width: 31px;
    height: 33px;
    text-align:center;
    cursor:pointer;
    box-sizing: border-box;
}

.custom_zoomcontrol_btn span i {
    font-size: 22px;
    padding: 6px 0;
}             

.custom_zoomcontrol_btn span:first-child {
    border-bottom:1px solid var(--gray-color);
}  

.custom_zoomcontrol_btn span:hover {
    background-color: gainsboro;
}

/* ###검색창 css### */
.input-wrap {
    position: absolute;
    display: inline-flex;
    border: 3px solid #6A24FE;
    border-radius: 3px;
    height: 2.8em;
    width: 333px;    
    top: 95px;
    left: 15px;
    z-index: 2;
}

/* input 창 */
input[type=text] {
    padding: 0 10px;
    background-color: #fff;
    width: 100%;
    border: none;
    outline: none;  /* input 테두리 없애기 */
}

/* X 버튼 */
.input-wrap .btn-clear {
    border: none;
    cursor: pointer;
    font-size: 15px;
    background: rgb(255,255,255);
}

.input-wrap .btn-clear > i {
    visibility: hidden;
}

/* 검색 버튼 */
.input-wrap .btn-search {
    background-color: #6A24FE;
    color: var(--white-color);
    font-weight: bold;
    border: none;
    border-left: 3px solid #6A24FE;
    cursor: pointer;
}

/* 검색 결과 목록 */
#addressList {
    position: absolute;
    width: 302px;
    margin: 0;
    top: 140px;
    left: 15px;
    padding-left: 10px;
    background-color: #fff;
    border: 1px solid gray;
    border-radius: 5px;
    overflow-y: auto;
    max-height: 400px;
    line-height: 2em;
    box-sizing: border-box;
    visibility: hidden;
    z-index: 2;
}

#addressList .info:hover {
    background-color: gainsboro;
}

.selected{
    background-color: gainsboro;
}

/* 단일 마커 커스텀 오버레이 */
.wrap * {
    padding: 0;
    margin: 0;
}

.wrap {
    position: absolute;
    right: -145px;
    bottom: 52px;
    width: 280px;
    height: 125px;
    font-size: 12px;
}

.wrap .info {
    width: 267px;
    height: 120px;
    background-color: #fff;
    border-bottom: 2px solid #ccc;
    border-radius: 4px;
}

.wrap .info:nth-child(1) {
    border: 0;
    box-shadow: 0px 1px 2px #888;
}

.info .title {
    font-size: 18px;
    background-color: #eee;
    padding: 5px 0 0 10px;
    height: 35px;
    border-bottom: 1px solid #ddd;
}

.info .close {
    position: absolute;
    top: 6px;
    left: 235px;
    cursor: pointer;
}

.info .close i {
    font-size: 26px;
    color: #888;
}

.info .logImg {
    position: absolute;
    left: 10px;
    border: 1px solid #ddd;
}

.info img {
    padding: 5px 5px;
}

.info .body {
    position: relative;
}

.info .address {
    position: relative;
    margin: 13px 0 0 90px;
    height: 73px;
}

.address .road {
    overflow: hidden;
    text-overflow: ellipsis;
}

.address .jibun {
    color: #888;
}

.address .link {
    color: #389cf9;
}

/* 다중마커 커스텀 오버레이 */
.apts-wrap {
    position: absolute;
    left: -75px;
    bottom: 40px;
    width: 250px;
    height: 85px;
}

.apts-wrap .infos {
    width: 230px;
    height: 70px;
    background-color: #fff;
    border-bottom: 2px solid #ccc;
    border-radius: 4px;
    font-size: 13px;
}

.infos .title {
    font-size: 18px;
    font-weight: bold;
    height: 30px;
    padding: 8px 8px;
}

.infos .address {
    padding: 10px 8px;
}

/* 매매 데이터 */
ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.info-container {
    display: none;
}

/* 매매 데이터 화면 */
.aptInfo-wrap {
    position: absolute;
    background-color: #fff;
    top: 6.6%;
    left: 77%;
    width: 23%;
    height: 93.3%;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--white-color);
    z-index: 2;
}
#aptInfo {  
    display: flex;
    align-items: end;
    width: 100%;
    height: 35%;
    color: white;
}

.aptInfo-wrap .close{
    position: absolute;
    width: 35px;
    height: 35px;
    top: 5px;
    left: 10px;
    cursor: pointer;
}

.aptInfo-wrap .close i {
    font-size: 35px;
    color: #eee;
}

/* 매매 평균가 정보 */
.avgInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  #eee;
    height: 40px;
    padding: 0 15px;
}

#avgList {
    padding: 15px 0;
}

#avgList > li {
    display: flex;
    justify-content:space-between;
    padding: 0 20px;
}


/* 매매가 정보*/
.salesInfo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    background-color: #eee;
}

.salesInfo > div {
    text-align: center;
}

#salesDate {
    width: 100px;
}

#salesPrice {
    width: 100px;
}

#salesArea {
    padding-right: 25px;
    width: 100px;
}

#salesFloor {
    padding-right: 4px;
}

/* 매매 목록 */
#salesList > li {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 5px 0;
}

.date {
    width: 100px;
    padding-top: 4px;
}

.price {
    width: 100px;
    padding-top: 4px;
}

.area {
    width: 100px;
    padding-top: 3px;
}

.floor {
    padding-top: 2px;
    padding-right: 5px;
}